MyADFREPO/pipeline/5_PL_ForeachLoop_Copy_PARAM.json
{
	"name": "5_PL_ForeachLoop_Copy_PARAM",
	"properties": {
		"activities": [
			{
				"name": "SourceFileList",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_SRC_CONTAINER_PARAM",
						"type": "DatasetReference",
						"parameters": {
							"SRC_CONT_PARAM": {
								"value": "@pipeline().parameters.SRC_CONT",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "SourceFileList",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('SourceFileList').output.childItems",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"wildcardFileName": {
											"value": "@item().name",
											"type": "Expression"
										},
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_SRC_CONTAINER_PARAM",
									"type": "DatasetReference",
									"parameters": {
										"SRC_CONT_PARAM": {
											"value": "@pipeline().parameters.SRC_CONT",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_TGT_CONTAINER_PARAM",
									"type": "DatasetReference",
									"parameters": {
										"TGT_CONT_PARAM": {
											"value": "@pipeline().parameters.TGT_CONT",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"SRC_CONT": {
				"type": "string",
				"defaultValue": "vinudemsource"
			},
			"TGT_CONT": {
				"type": "string",
				"defaultValue": "vinudemotarget"
			}
		},
		"annotations": [],
		"lastPublishTime": "2021-01-29T11:43:59Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}